@charset "utf-8";

/* ==========================
   ファーストビュー
========================== */

/* 画面の一番上の表示 */
.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/index/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* 画面の一番上のテキスト */
.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #fff700;
    font-weight: bold;
    text-shadow: 1px 1px 10px #ff5500;
}

/* 画面の一番上のテキスト（大きい文字） */
.first-view-text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    line-height: 72px;
}

/* 画面の一番上のテキスト（小さい文字） */
.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

/* リード文 */
.lead {
    max-width: 1200px;
    margin: 60px auto;
}

/* ==========================
   リセット
========================== */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16pt;
    color: #000;
    line-height: 1;
    background-color: #fff;
}

img {
    max-width: 100%;
}

/* ==========================
   スマホ表示
========================== */

@media (max-width: 800px) {

    .first-view {
        height: calc(100vh - 50px);
    }

    .first-view-text {
        padding: 0 20px 40px;
    }

    .first-view-text h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .first-view-text p {
        font-size: 16px;
    }

    .lead {
        margin: 40px 20px;
    }

}