@charset "utf-8";

/* ==========================================
   Main (メイン)
   ========================================== */
.main h1{
    margin-top: 70px;
    margin-bottom: 30px;
}

.powers h2 {
    color: gold;
    border-bottom: 6px double #000;
    width: fit-content;
    margin: 30px;
}

.powers li {
    margin: 30px;
}

/* ==========================================
   Footer (フッター)
   ========================================== */
.footer{
    margin-top: 50px;
}