/*========================
Main(メイン)
==========================*/
.main{
    background-color:tan;
}

.title{
    margin-bottom: 30px;
    border-bottom: 3px solid;
    width: fit-content;
}

.voices h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.voices li{
    padding-bottom: 30px;
}