@charset "utf-8";

/* 利用上の注意ブロック */
.rules {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 40px 60px;
    background-color: #b6fbacc1;
}

/* 注意内容ブロック */
.lead {
    text-align: center;
    background-color: #86ff8c;
    margin: 60px auto;
    padding: 8px 16px;
    width: fit-content;
}

/* 「トップ」ボタン（使う場合） */
.top {
    font-size: 50px;
}

/* サイドメニュー（使う場合） */
nav.floating {
    position: fixed;
    top: 70px;
    left: 50px;
    background-color: #aa00cc;
}

/* 時計画像 */
.clock {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* 利用可能時間 */
.time {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* ==========================
   スマホ表示
========================== */

@media (max-width: 800px) {

    .rules {
        margin-top: 100px;
    }

}